@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
    background-color: #14181F;
}

._container {
    max-width: 900px;
    min-height: 50vh;
    margin: 10rem auto 0;
    padding: 2rem;
    text-align: center;
    border-radius: 1rem;
    background-color: #212227;
    color: #fff;
}
